<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="paymentService" class="com.syk25.finance.service.PaymentService">
        <constructor-arg name="paymentInterfaceSet">
            <set>
                <ref bean="cashAdapter"/>
                <ref bean="cardAdapter"/>
            </set>
        </constructor-arg>
        <constructor-arg name="discountInterface" ref="discountByPayMethod"/>
    </bean>
    <bean id="cardAdapter" class="com.syk25.finance.service.adapters.CardAdapter"/>
    <bean id="cashAdapter" class="com.syk25.finance.service.adapters.CashAdapter"/>
    <bean id="discountByStore" class="com.syk25.finance.service.discount_policy.DiscountByStore"/>
    <bean id="discountByPayMethod" class="com.syk25.finance.service.discount_policy.DiscountByPayMethod"/>
</beans>
